@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand');

html, body {
  background-image: url('../imgs/forest.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: auto;
  height: auto;

}

header {
  border-radius: 2px;
  box-shadow: 0px 1px 3px #999;
}

footer {
  border-radius: 2px;
  box-shadow: 1px 0px 3px #999;
}

.container {
  height: auto;
  align-content: center;
}

.card {
  position: center;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.5);
}

.card-header h3{
  color: white;
}

.input-group-prepend span {
  width: 50px;
  background-color: white;
  color: #40544b;
  border: 1.5px solid #40544b;
}

input:focus {
  outline: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: #40544b;
  background-color: white;
  border: 1.5px solid #40544b;
  width: 100px;
}

.login_btn:hover {
  color: white;
  background-color: #40544b;
  border: 1.5px solid white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color1);
}

.footer .row li {
  background-color: inherit;
  border: none;
  text-decoration: none;
}

.footer a {
  color: var(--color4);
  text-decoration: none;
}

.footer .row li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

.footer ul.links li>span {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

.footer ul.links li>span:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

.footer ul.links li a i {
  margin-right: 5px;
}

.footer ul.links li:hover a i {
  font-weight: 700;
}