html, body.login {
    background-image: url('../imgs/forest.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Open Sans' , sans-serif;

  }
input#email{
  padding: 5px;
  color: #263830;
  background-color: white;
  border: 1.5px solid #40544b;
  border-radius: 1px;
  width: 15vw;
  height: 4vh;
  margin-top: 10px;
  margin-bottom: 20px;
}
a.reset_pass{
  display: block;
  color: #263830;
  background-color: white;
  opacity: 0.8;
  padding: 1em;
}
a.reset_pass:hover{
  display: block;
  color: white;
  background-color: #40544b;
  opacity: 0.8;
  padding: 1em;


  transition:background-color 0.55s;
}

.btn {
    color: #40544b;
    background-color: white;
    border: 1.5px solid #40544b;
    border-radius: 7px;
    width: 10vw;
    height: auto;
    text-align: center;

    padding:1em;
    margin-bottom:2vh;
  }
  
  .btn:hover {
    color: white;
    background-color: #40544b;
    border-radius: 3px;
    border: 1.5px solid white;
    transition:background-color 0.55s;
  }
  
  .card-header{
    position: center;
    text-align: center;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 13vw;  
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.85;
    border-radius: 3px;
    border: 1.5px solid white;
  }
  .card-header h2{
    font-family: 'Quicksand', sans-serif;
    color: rgb(102, 102, 102);
    width: auto;
  }
  
  .container {
    height: auto;
    width: 25vw;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
  }