body {
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    padding-right: 0px !important;
}

.img-fluid {
    max-width: 5rem;
}

header {
    border-radius: 2px;
    box-shadow: 0px 1px 6px #999;
}

footer {
    border-radius: 2px;
    box-shadow: 1px 0px 3px #999;

}

.footer {
    background-color:#f6fffb;
}

.footer .row li {
    background-color: inherit;
    border: none;
    text-decoration: none;
}


.footer a {
    color: #40544b;
    text-decoration: none;
}

.footer .row li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}


.footer ul.links li>span {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

.footer ul.links li>span:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

.footer ul.links li a i {
    margin-right: 5px;
}

.footer ul.links li:hover a i {
    font-weight: 700;
}

img.center-block {
    min-width: 390px;
    min-height: 390px;
    max-width: 390px;
    max-height: 390px;
    padding: 10px;
}
.navbar-toggler{
    border-color:#40544b;

}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(158,255,213, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
}

/*FAQ*/
.clickable.unbold:hover {
    cursor: pointer;
}

.clickable.unbold:hover .fas.fa-circle {
    cursor: pointer;
    color: #5d7b6d;
}
.clickable.unbold:hover .fas.fa-circle:active {
    cursor: pointer;
    color: #5d7b6d;
}
